/* Your CSS Code here. */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th{
	width: 90px;
	text-align:left;
}

.no{
	text-align: right;
}

.row1{
	background-color: red;
}